@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-end align-items-center py-3 bg-light border-bottom mb-3">
            <LoginControl />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
